# ===== Python =====
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.log

# ===== Virtual Environment =====
venv/
.env/
.env.bak/
*.env

# ===== IDE and Editor Files =====
.vscode/
.idea/
*.swp
*.swo

# ===== macOS system files =====
.DS_Store

# ===== Backup and temp =====
*.bak
*.tmp
*~
